body {
    background-color: #F6F0ED;
    font-family: monospace;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: #8c0f4e;
}
#content p {
    font-size: 14px;
    text-align: justify;
}
#content p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    margin-top: 8px;
}
#preamble {
    margin-top: 10px;
}
.cabecalho {
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}
#menu {
    text-align: center;
}
#menu ul {
    list-style-type: none;
    padding: 0px;
}
#menu li {
    font-size: 15px;
    display: inline;
}
#menu ul li a {
    color: #474A48;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
}
#menu ul li a:hover {
    background-color: #f7b999;
}
.title {
    font-weight: normal;
    font-size: 20px;
}
.org-ul {
    margin-left: -40px;
    list-style-type: none;
    text-align: center;
}
.org-ul li {
    width: 70%;
    background-color: #f7b999;
    padding: 10px;
    margin: 10px auto auto;
}
.org-ul li a {
    color: #212121;
    bottom: 0;
    text-decoration: none;
}
.org-ul li a:hover {
    font-weight: bold;
}
#postamble {
    margin-top: 20px;
    border-top: 1px dashed #333;
    bottom: 0;
    left: 0;
    text-align: center;
}
#content {
    width: 70%;
    margin: auto;
}
.validation {
    display: none;
}
.dropbtn {
    padding: 8px;
    background-color: #f7b999;
    color: white;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: absolute;
    top: 0;
    left: 85%;
}

.dropdown-content {
    padding: 8px;
    display: none;
    position: absolute;
    background-color: #dedbd9;
    z-index: 1;
}

.dropdown-content a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #f5a982;}
